<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

</head>
<body>
<form action="/home" method="post">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="black" checked>
        <label class="form-check-label" for="exampleRadios1">
            Black
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="black">
        <label class="form-check-label" for="exampleRadios2">
            Red
        </label>
    </div>
    <div class="form-check">
        <select class="form-control" name="bet_number">
            {% for element in lst %}
            <option>{{element}}</option>
            {% endfor %}
            <option>Default select</option>
        </select>
    </div>

    <input class="btn btn-default" type="submit" value="Make a bet">
</form>
</body>
</html>