<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="sidenav">
    <div class="login-main-text">
        <h2>Become part of us <br> and <a href="{{url_for('login')}}">come back</a></h2>
        <p></p>
        <p>Each week world gets one new millionaire<br>
            Register or log in to play. Maybe you are the new one...</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">

            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
                {% endif %}
            <form id="signup" method="post" action="/register">
                <h1>Create an Account</h1>
                <div class="form-group">
                    <label>Choose your unique username</label>
                    <input name="new_username" type="text" placeholder="Username" class="form-control"
                           value="{{request.form.new_username}}"/>
                </div>
                <div class="form-group">
                    <label>Choose a password</label>
                    <input name="new_password" type="password" placeholder="password"
                           required="required" value="{{request.form.new_password}}"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Confirm a password</label>
                    <input name="new_password1" type="password" placeholder="confirm password"
                           required="required" value="{{request.form.new_password1}}"
                           class="form-control"/>
                </div>
                <button type="submit" value="Sign-up!" class="btn btn-black">Sign up</button>

            </form>

        </div>
    </div>
</div>
</body>
</html>